<?xml version="1.0" encoding="UTF-8"?>

 <beans  xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:p="http://www.springframework.org/schema/p"
xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"

	xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans  

 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  

 http://www.springframework.org/schema/context  

 http://www.springframework.org/schema/context/spring-context-4.0.xsd  

 http://www.springframework.org/schema/mvc  

 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
  http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		 http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"  >

  <!-- 自动扫描 -->

  <context:component-scan base-package="com.fdw.service" />
  <context:component-scan base-package="com.fdw.controller" />
  <context:component-scan base-package="com.fdw.aop" />
  <context:component-scan base-package="com.fdw.dao" />
  <context:component-scan base-package="com.fdw.event" />
  <context:annotation-config></context:annotation-config>
	<aop:aspectj-autoproxy expose-proxy="true"></aop:aspectj-autoproxy>
	
  <!-- 引入配置文件 -->
<context:property-placeholder location="classpath:jdbc.properties" />
  <!-- <bean id="propertyConfigurer"

     class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

    <property name="location" value="classpath:jdbc.properties" />

  </bean> -->

 

 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="driverClass" value="${jdbc.driver}" />
	</bean>

 

  <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

 

  <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

    <property name="basePackage"   value="com.fdw.mapper" />

    <property name="sqlSessionFactoryBeanName"   value="sqlSessionFactory"></property>

  </bean>
<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
<!-- 	<constructor-arg index="1" value="BATCH"></constructor-arg>
 --></bean>
 

  <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->

	 <bean id="transactionManager"

     class="org.springframework.jdbc.datasource.DataSourceTransactionManager">

    <property name="dataSource"   ref="dataSource" />

  </bean> 
 


</beans>
