<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdw.mapper.User_InfoMapper">
 	<insert id="insertByListener" parameterType="com.fdw.entity.User_Info">
 	 insert into user_info(user_id,tel,address) values(#{userId},#{tel},#{address})
 	</insert>
</mapper>