<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.mapper.FilmMapper">
	<insert id="insertOneInToFilm" parameterType="com.hand.entity.Film">
	 insert into  film  (title,description,language_id) values(#{title},#{description},#{languageId})
	</insert>
	 <select id="queryFilmListByPage" parameterType="java.util.HashMap" resultType="com.hand.entity.Film">
	 	select  f.film_id,f.title,f.description,l.name   from film f , language l  where  f.language_id = l.language_id
    	<if test="film.title!=null and !&quot;&quot;.equals(film.title.trim())">
	    	and f.title like CONCAT('%', CONCAT(#{film.title}, '%'))
	    </if>
	    <if test="film.description!=null and !&quot;&quot;.equals(film.description.trim())">
	    	and f.description like CONCAT('%', CONCAT(#{film.description}, '%'))
	    </if>
	    <if test="film.languageId!=null">
	    	and f.language_id = #{film.languageId} 
	    </if>
    	order by film_id 
  	</select>
  	<delete id="deleteById" parameterType="com.hand.entity.Film">
  		delete  from film where film_id = #{filmId}
  	</delete>
  	<select id="selectById" parameterType="com.hand.entity.Film" resultType="com.hand.entity.Film">
  		select  film_id, title , description , language_id  from film where film_id=#{filmId}
  	</select>
  	<update id="updateById"  parameterType="com.hand.entity.Film">
  		update   film  set title = #{title} , description  =#{description} ,language_id =#{languageId}   where  film_id = #{filmId}
  	
  	</update>
</mapper>