<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hand.mapper.LanguageMapper">
	<select id="selectOne" resultType="com.hand.entity.Language">
		select language_id,name  from  language
	</select>
</mapper>